{% extends "../base.html" %} 

{% block content %}

<section class="vh-400 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Crear una cuenta</h2>

              <form method="post">
                {% csrf_token %}    
                <div class="form-outline mb-4">
                    <div>
                      <label class="form-label" for="form3Example1cg">Nombre Usuario</label>
                      <input class="form-control form-control-lg" type="text" id="user" name="username" placeholder="Ej: panteon12" minlength="4" maxlength="12" aria-required="true">
                </div>
                <div class="form-outline mb-4">
                <div>
                    <label class="form-label" for="form3Example1cg"> Nombre</label>
                    <input class="form-control form-control-lg" type="text" id="fn" name="first_name"  required>
                </div>
                <div>
                  <label class="form-label" for="form3Example1cg"> Apellido</label>
                  <input class="form-control form-control-lg" type="text" id="ln" name="last_name">
                </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Correo</label>
                  <input class="form-control form-control-lg" type="email" name="email" id="email" placeholder="sophie@example.com" required>
                  
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Contraseña</label>
                  <input class="form-control form-control-lg" type="password" name="password1" id="passw" minlength="8" maxlength="24" required>
                  
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Repetir la contraseña</label>
                  <input class="form-control form-control-lg" type="password" name="password2" id="passw1" required>
                  
                </div>

                <!-- <div class="form-outline mb-4">
                  <select name="genero">
                    <option value="" disabled selected>Genero</option>
                    <option value="Male">Hombre</option>
                    <option value="Female">Mujer</option>
                  </select>
                  
                </div> -->

              <!-- <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>  -->

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-primary btn-lg gradient-custom-4 text-body">Register</button>
                </div>

              <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{%  url 'login' %}"
                    class="fw-bold text-body"><u>Login here</u></a></p> 

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- 
<div class="mt-5">
  <div class="card" style="width: 50%; margin: auto">
    <div class="card-body">
      <h2>Register</h2>
      <form method="post" novalidate>
        {% csrf_token %} 
        {{ form.as_p }}
       <div>
          {{form.username}}
        </div>
        <div>
          {{form.password1}}
        </div>
        <div>
          {{form.email}}
        </div>
        <div>
          {{form.first_name}}
        </div> 
        <div>
          {{form.}}
        </div> 
       
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Crear Usuario</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const inputs = document.querySelectorAll("input");

  inputs.forEach((input) => input.classList.add("form-control form-control-lg"));
</script> -->
{% endblock content %}